@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -6000px 0; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -6000px 0; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -6000px 0; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -6000px 0; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -6000px 0; }
}

@font-face {
    font-family: 'Pacifico';
    src: url('/fonts/Pacifico.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
  background-image: url("/images/bg.jpg");
  background-size: cover;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #e2e2e2;
  background-color: rgba(142, 142, 142, 0.13);
  /*background-color: transparent;*/
  height: 100%;
  margin: 0;
}

.container {
  max-width: 90%;
}

h1 {
  font-family: "Pacifico";
  text-align: center;
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 50px;
}

.screensaver {
  text-align: center;
  height: 300px;
  /*background-image: url('/images/slideshow/strip.png');
  background-repeat: repeat-x;
  background-size: cover;
  animation: animatedBackground 100s linear infinite;
  -moz-animation: animatedBackground 100s linear infinite;
  -webkit-animation: animatedBackground 100s linear infinite;
  -ms-animation: animatedBackground 100s linear infinite;
  -o-animation: animatedBackground 100s linear infinite;*/
}

.screensaver img {
  height: 100%;
}

.flash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 30;
}

.note {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  text-align: center;
  z-index: 20;
  font-size: 1.5em;
}

.countdown {
  margin: 0 auto;
  /*width: 400px;*/
  text-align: center;
}

.countdown h2 {
  font-size: 25em;
}

.capturing {
  margin-top: 300px;
  text-align: center;
  font-size: 1.5em;
}

.preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.preview img {
  height: 100%;
}
